/*Inicializando componentes CSS*/

/*Inicizalição da estilização da DOM*/
a{
  color: white !important;
}

h3{

  font-size: 48px;
  font-family: 'Anton', sans-serif;
  background: -webkit-linear-gradient(rgb(131, 49, 208), rgb(225, 79, 21));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

header{
  background: rgb(131,58,180) !important;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%) !important;
}


/*Inicializando as classes*/
.masthead{
  height: 480px;
  
}

.rounded-circle{
  height: 210px;
}

.borda-card-modal{
  border-radius: 190px !important;
}


.section-portfolio-root{
  display: block !important;
  padding: 100px !important;
  
}

.card{
  margin-left: 40px !important;
  border-radius: 10px;
  border-bottom: 0% !important;
  border: none;
}

.card-body{
  background-color:  rgb(103, 255, 151);
}


/*Inicializando os IDs*/
#switch-estilizacao{

height: 90px; 
width: 40px;

}





/* TESTANDO AQUIIIIII*/
.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}

