/*Inicializando componentes CSS*/
/*==================================================================================*/
/*Inicilizando a estilização do ScrollView Barra de Rolagem Global*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #CCCCCC;
}

::-webkit-scrollbar-track {
  background: #CCCCCC;
}
::-webkit-scrollbar-track-piece {
  background: #CCCCCC;
}
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background: #ffffff;
  border-radius: 5px;
}
.form-comment textarea::-webkit-resizer {
  border: 1px #ffffff dashed;
}



/*==================================================================================*/
/*Inicizalição da estilização da DOM*/
a{
  color: white !important;
}

h1{
   font: 'Anton', sans-serif;
   color: white;
}

h3{

  font-size: 48px;
  font-family: 'Anton', sans-serif;
  background: -webkit-linear-gradient(rgb(131, 49, 208), rgb(225, 79, 21));
  text-align: center; 
  margin-bottom: 39px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

header{
  background: rgb(131,58,180) !important;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%) !important;
}


/*==================================================================================*/
/*Incializando Ids Menu Nav Swicth de modo Dark*/
#switch-estilizacao{

  height: 90px; 
  width: 40px;
  
  }

  /* TESTANDO AQUIIIIII*/
.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}

/*==================================================================================*/
/*Inicializando Section Cards Projetos Desenvolvidos*/
.masthead{
  height: 480px;
  
}

.rounded-circle{
  height: 210px;
}

.borda-card-modal{
  border-radius: 190px !important;
}


.section-portfolio-root{
  display: block !important;
  padding: 100px !important;
 
}

.card{
  margin-left: 40px !important;
  border-radius: 10px;
  border-bottom: 0% !important;
  border: none;
}

.card-body{
  background-color:  rgb(209, 209, 209);
  border-radius: 2px;
}




/*==================================================================================*/
/*Incializando linha do Tempo seção Sobre Mim*/
.sobremim{
  height: auto;
  overflow: hidden;
  background-color: #161616 !important;
  text-align: center;
  padding-right: 37px;
  padding-left: 200px;
  padding: 0;
}

.subtextos{
  color: white;
}

.scrolling-wrapper{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-left: 840px !important;  

 /*background-color: rgb(255, 8, 127);    
  border-radius: 20px;      
  border: 3px solid orange; */
}

/*Max-Widith*/
@media screen and (max-width: 1040px) {
  .scrolling-wrapper{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-left: 840px !important;  
  
   /*background-color: rgb(255, 8, 127);    
    border-radius: 20px;      
    border: 3px solid orange; */
  }
  
}
/*Min-Width*/
@media screen and (min-width: 320px) {
  .scrolling-wrapper{
    margin-left: auto;
    padding-left: 1040px !important;  
    padding-right: 1110px;
  
  }
  
}


.DB_Timeline {
  padding: 0;
  margin: 100px auto;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 1141px;
  max-width: 100%;
}
.DB_Timeline__item {
  position: relative;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: currentColor;
  padding: 0 12px;
  color: #d12129;
}
.DB_Timeline__item:after {
  content: "";
  position: absolute;
  left: 100%;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}
.DB_Timeline__item:nth-child(3n+2) {
  color: #282828;
}
.DB_Timeline__item:nth-child(3n+3) {
  color: #8d8e8d;
}
.DB_Timeline__item:nth-child(odd) {
  border-bottom-width: 6px;
  border-bottom-style: solid;
  padding-bottom: 80px;
  margin-bottom: 1em;
}
.DB_Timeline__item:nth-child(odd):after {
  top: 0;
  border-width: 12px 12px 0 0;
  border-color: currentColor transparent transparent transparent;
}
.DB_Timeline__item:nth-child(even) {
  border-top-width: 6px;
  border-top-style: solid;
  padding-top: 80px;
  margin-top: calc(1em + 80px);
}
.DB_Timeline__item:nth-child(even):after {
  bottom: 0;
  border-width: 12px 0 0 12px;
  border-color: transparent transparent transparent currentColor;
}
.DB_Timeline__text {
  display: block;
  line-height: 1;
}
/*Fim linha do Tempo seção Sobre Mim*/

/*==================================================================================*/
